<div class="container">
	<div class="toolbar">
		<div class="panel-body">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Team : {{filterByTeam}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="team in teams" ng-click="filterTeam(team)" class="{{filterByTeam ===  team ? 'active' : 'normal'}}"><a>{{team}}</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Manager : {{filterByManager}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="manager in managers" ng-click="filterManager(manager)" class="{{filterByManager ===  manager ? 'active' : 'normal'}}"><a>{{manager}}</a></li>
					</ul>
				</li>
			</ul>
			<input type="text" class="filter-panel-field form-control pull-right" id="searchField" name="searchField" placeholder="Search"></input>
		</div>
	</div>
	<div class="list-group">
		<a ng-click="select(candidate)" class="list-group-item {{candidate.selected ? 'active' : ''}}" ng-repeat="candidate in candidates">
			<h4 class="list-group-item-heading">{{candidate.name}}</h4>
			<p class="list-group-item-text">{{candidate.description}}</p>
		</a>
	</div>
</div>