<div class="container-fluid">
	<div class="panel panel-default login-panel">
		<div class="form-group">
			<label for="userName">Email ID</label>
			<br>
			<input type="email" class="form-control login-field" id="userName" placeholder="john@example.com"></input>
			<br>
			<label for="password">Password</label>
			<br>
			<input type="email" class="form-control login-field" id="password"></input>
			<br>
			<button type="submit" class="btn btn-primary login-field">Login</button>
		</div>
	</div>
</div>