<table width="100%" class="login-panel-top" ng-controller="LoginController">
    <tr>
        <td width="100%" align="center">
            <div>
                <div class="panel panel-default login-panel">
                    <form id="loginForm">
                        <div class="form-group" style="text-align: left;">
                            <label for="userName">Email ID</label>
                            <br>
                            <input type="email" class="form-control login-field" id="userName"
                                   placeholder="john@example.com" ng-model="email" required/>
                            <br>
                            <label for="password">Password</label>
                            <br>
                            <input type="password" class="form-control login-field" id="password" ng-model="password"
                                   required/>
                            <br>
                            <loading-button progress="{{loading.status}}"
                                            action="registerFlag ? register(email, password) : login(email, password)"
                                            progress-text="{{registerFlag ? 'Registering..' : 'Logging in..'}}">
                                {{registerFlag ? 'Register' : 'Login'}}
                            </loading-button>
                            <div class="space-top-10">
                                <input type="checkbox" id="registerCheck" ng-model="registerFlag"/>
                                <label for="registerCheck" class="small normal">New User?</label>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <br>
                <alert-msg type="danger" message="{{error.toString()}}"></alert-msg>
            </div>
        </td>
    </tr>
</table>